<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gatech.mas.eventconnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gatech.mas.eventconnect.activity.LoginActivity" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gatech.mas.eventconnect.activity.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="loggedin"
                    android:scheme="eventconnect" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gatech.mas.eventconnect.activity.GetEventsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.gatech.mas.eventconnect.activity.CreateEventActivity"
            android:label="Create Event"
            android:parentActivityName="com.gatech.mas.eventconnect.activity.GetEventsActivity">
        </activity>
        <activity
            android:name="com.gatech.mas.eventconnect.activity.EditEventActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.gatech.mas.eventconnect.activity.GetEventsActivity">
        </activity>
    </application>

    

</manifest>
